{% extends "base.html.twig" %}

{% block title %}Afficher les patrons au format json
{% endblock %}

{% block body %}

    <div id="patternsParent">

    </div>
    <script src="{{ asset('js/patterns.js') }}"></script>
{% endblock %}
